html {
            height: 100%;
            --main-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.14);
}
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif !Important;

}

a.anchor {
    display: block;
    position: relative;
    top: -46px;
    visibility: hidden;
}


/*BANNER IMAGE*/
.banner {
    padding: 15px;
}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("banner.jpg");
    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position-y: 52%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    color: white;
}

footer {
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 35px 30px 25px 30px;
}

footer a{
    color: white;
}

.three-panel{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.three-panel .struct {

    background-color: #76b7db;
    height: 130px;
    width: 100%;
    
}
.three-panel .struct h2 {
    margin: 0;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 22px;
}

.three-panel .struct2 {
    margin: 0;
    
    width: 100%;

}

.three-panel .struct2 .col-sm {
    height: 130px;
    background-color: #396cbf;
}
.three-panel .middle {
    background-color: #396cbf;
    position: relative;
}
@media only screen and (min-width: 576px) {
    .three-panel .middle {
        height: 180px !important;
        top: -25px;
    }
}
.three-panel .struct2 h2 {
    margin: 0;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
}

.green-button {
    background-color: #31e0a9 !important;
    margin-top: 25px;
    border-radius:50px !Important;
    padding-left: 30px !Important;
    padding-right: 30px !Important;
    font-weight:500 !Important;
}
.green {
    background-color: #31e0a9 !important;
}



/* Header Nav Bar*/
.header {
  position: fixed;
  text-align: center;
  left:0;
  top:0;
  z-index: 10;
  width: 100%;
  height: 70px;
  display: flex;
  align-content: center;
}
.header.scrolled {
  background: #343a40;
  transition: background-color 0.7s ease 0s, box-shadow 0.7s ease 0s;
  color: white;
  transition: background-color 300ms linear;
}
.header.transparent {
  background: rgba(0,0,0,0);
}

.inner-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 0 32px;
  pointer-events: auto;
}
#left-header {
  display: flex;
  flex: 1 1 50%;
  justify-content: flex-start;
  align-items: center;
}
#center-header {
  display: flex;
  align-items: center;
}
#right-header {
  display: flex;
  flex: 1 1 50%;
  justify-content: flex-end;
  align-items: center;
}
#nav-logo {
  display: inherit;
  align-items: center;
  content: url(../images/tarjimlyLogos/SmileLogoWideWordmark.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
}
.scrolled #nav-logo {
    content: url(../images/tarjimlyLogos/SmileLogoWhiteWideWordmark.png);
}

#tarjimly-title {
  font-size: 22px;
  margin-left: 8px;
  font-family: 'Comfortaa', sans-serif;
}

.nav-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1em;
}
.header.scrolled #lang-select-button {
  color: white;
  border: solid 1px white;
}
#lang-select-button {
  color: black;
  border: solid 1px black;
  width: 110px;
  background: none;
  border-radius: 8px;
  padding: 5px 9px;
  font-size: 14px;
}
#lang-select-button .ui-icon {
  background: url("../images/landing/DropdownArrowWhite.png");
  background-size: 100%;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.header.scrolled #lang-select-button .ui-icon {
  -webkit-filter: invert(0);
  filter: invert(0);
}
#lang-select-menu {
  border: solid 1px white;
  text-transform: uppercase;
  width: 60px;
  font-size: 14px;
  border-radius: 2px;
  height: 300px;
  overflow-y: scroll;
}
#lang-select-menu .ui-menu-item {
  padding: 8px;
}

.header-donate-button {
  color: green;
}

.scrolled .header-donate-button {
  color: white;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#mission {
  padding-top: 100px;
  padding-bottom: 50px;
}
#image-mission {
  height: auto;
  width: 75%;
  align-content: center;
}

.para-button {
  margin-top: 25px;
  border-radius:50px !Important;
  padding-left: 30px !Important;
  padding-right: 30px !Important;
  background-color: #346BB4 !Important;
  font-weight:500 !Important;
}

.para-white {
  padding-top: 10px;
  width: 90%;
}

.section-header-1 {
  font-weight: 200;
  font-size: 20px;
  color: #76B2DE;

}

.section-header-2 {
  margin-top: 0px;
  font-weight: 600;
  font-size: 22px;
  color: #346BB4
  
}

#micro {
  width: 85%;
  margin: auto;
  text-align: center;
}

